*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*-blx.bib
*.dll
*.dvi
*.glg
*.glo
*.gls
*.gz
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.o
*.odc
*.out
*.pdf
*.png
*.Rcheck
*.rda
*.Rdata
*.Rhistory
*.Rout
.Rproj.user
*.run.xml
*.Ruserdata
*.snm
*.so
*.tex
*.toc
*.xlsx

!data/NwkDegreePartition.Rdata
!data/EsetMbolCSFPR2.Rdata
