*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*-blx.bib
*.dll
*.dvi
*.glg
*.glo
*.gls
*.gz
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.o
*.odc
*.out
*.pdf
*.png
*.Rcheck
*.rda
*.RData
*.Rhistory
*.Rproj.user
*.run.xml
*.Ruserdata
*.snm
*.so
*.tex
*.toc
*.xlsx


!data/

rpackage/data/
data/*
!data/ESetMbolCSFPR2.Rdata
